/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* INICIO */


main{
    margin: 0 auto;
    font-family: karla;
    padding-top: 5rem;
    width: 475px;
}

.cabecalho {
    
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 0 1em gray;
}

h2 {
    font-size: 2rem;
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    padding-top: 2rem;
    padding-left: 2rem;
}

h3{
    font-size: 1.2rem;
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.text-cabecalho {
    padding-left: 2rem;
    padding-bottom: 3rem;
}

.mes_why{
    display: flex;

}

.mes {
    background-color: rgb(43, 179, 177);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 317px;
    border-bottom-left-radius: 1rem;
    padding-bottom: 3rem;
}

.why_Us {
    background-color: rgb(74, 190, 189);
    display: flex;
    margin: 0 auto;
    width: 317px;
    border-bottom-right-radius: 1rem;

}

.title_Sub {
    color: white;
    font-size:  1.2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    font-weight: bold;
}

.valor_mes{
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.valor{
    color: white;
    font-size:  2.2rem;
    padding-left: 2rem;
    font-weight: bold;
    padding-right: 0.5rem;

}

.month{
    color: rgb(224, 224, 224);
    font-style: italic;
}


.btn_sign{
    color: hsl(179, 57%, 38%);
    font-weight: bold;
    width: 6rem;
    padding-top: 2rem;
    padding-right: 0.5rem;
    background-color: hsl(71, 73%, 54%);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
    
}

.text_Why {
    color: white;
}